#
# .htaccess file created by Pedro Haramoto on 14/03/2020
#
# This file is responsible for setting the redirect url
#

RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

# /users/                -> will create a new user     (POST method; action 1) OK
# /users/                -> will return all the users  (GET method; action 2)
# /users/:iduser         -> will return the specified iduser   (GET method; action 3)
# /users/:iduser         -> will edit the specified iduser     (PUT method; action 4)
# /users/:iduser         -> will delete the specified iduser   (DELETE method; action 5)
# /users/:iduser/drink   -> will count how many times the specified iduser drank water (POST method; action 6)
# /login                 -> login (POST method; action 7) OK

RewriteRule ^users$ user.php?action=1


RewriteRule ^login$ login.php?action=7
