#
# .htaccess file created by Pedro Haramoto on 14/03/2020
#
# This file is responsible for setting the redirect url
#

RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

# /users/                -> will create a new user     (POST method) OK
# /users/                -> will return all the users  (GET method)
# /users/:iduser         -> will return the specified iduser   (GET method) OK
# /users/:iduser         -> will edit the specified iduser     (PUT method)
# /users/:iduser         -> will delete the specified iduser   (DELETE method)
# /users/:iduser/drink   -> will count how many times the specified iduser drank water (POST method)
# /login                 -> login (POST method) OK

RewriteRule ^users/$ user.php?iduser=$1
RewriteRule ^users/([0-9]+)/?$ user.php?iduser=$1


RewriteRule ^login$ login.php?action=7
